.navbar {
    display: flex;
    padding: 20px 80px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    border-bottom: 1px solid var(--neutral-1000, #E6E7E9);
background: var(--White, #FFF);
}

.navbar-container1 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    align-content: flex-start;
    gap: 24px;
    flex: 1 2 3 4;
    flex-wrap: wrap;
}

.container-nav {
    display: flex;
padding: 0px 32px;
justify-content: space-between;
align-items: center;
align-content: center;
row-gap: 24px;
align-self: stretch;
flex-wrap: wrap;
}

.logo img {
    width: 48px;
    height: 48px;
    vertical-align: middle;
  }
  
  .logo {
    cursor: pointer;
    gap: 8px;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
  }

  .logo-text  {
    display: flex;
    padding: 8px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    color: #282828;

font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -0.9px;
  }

.nav-links {
    display: flex;
align-items: flex-start;
gap: 16px;
transition: 1s;
flex-wrap: wrap;
}

.nav-item {
    display: flex;
    margin: 10px;
  padding: 10px 15px;
  text-decoration: none;
  color: black;
  font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
cursor: pointer;
-webkit-transition: all 0.5s ease;
transition: all 0.5s ease;
align-items: flex-start;
gap: 16px;
transition: 1s;
}

.nav-item:hover {
    color: rgb(20, 52, 194);
    transform: scale(1.2)
}


.nav-item-button{
    text-decoration: none !important;
    color: #282828;
}

.nav-item-button:hover {
    color: rgb(20, 52, 194);
      transform: scale(1.2)
}

.all {
    display: inline-flex;
flex-direction: column;
align-items: center;
justify-content: center;
}

.container{
    margin-right: 112px;
}

h1, p {
    margin: 0;
}

.website {
    color: white;
    align-self: stretch;
    flex-wrap: wrap;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 20px; 
    text-align: center;
}

.firststeps {
    text-align: center;
    align-self: stretch;
    flex-wrap: wrap;
    color: white;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: -2.16px; 
}   

.Story {
    text-align: center;
    align-self: stretch;
    color: var(--neutral-400, #5A6475);
    flex-wrap: wrap;
    color: white;

    /* Para/Medium/Regular */
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px; /* 155.556% */
}

.button {
    display: flex;
    align-items:center;
    padding: 22px 24px;
    text-decoration: none;
    color: white;
    border-radius: 8px;
    background: #3B866F;
    border-radius: 16px;
    width: 132px;
    justify-content: center;
    cursor: pointer;
    -webkit-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

.button:hover {
    background-color: rgb(54, 54, 54);
    transform: scale(1.03);
}

.button-text > a {
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
text-align: center;
color: whitesmoke;
margin-right: 12px;
text-decoration: none;
}

.button-text {
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 20px;
text-align: center;
color: whitesmoke;
margin-right: 12px;
text-decoration: none;
}

.button-img-main {
width: 24px;
height: 23.12px;
}


.photo {
    display: flex;
    flex-shrink: 0;
    background-size: cover;
    background-position: center;
    height: 400px;
    background-image: url('Image (3).png');
   }

   
.max {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 32px 108px;
    flex: 1 0 0;
    position: absolute;
}

.content {
    display: flex;
    width: 100vw;
    align-items: center;
    justify-content: center;
    background-image: url('teamrobotics.jpg');
    background-size: cover;
    height: 70vh;
    background-color: #f0f0f0;
    background-position: center center;
    position: relative;
}

.overlay {
    width: 100%; /* Задаем ширину оверлея */
    height: 100%; /* И высоту */
    background-color: rgba(0, 0, 0, .5); /* Цвет и уровень прозрачности */
    top: 0; /* Размещаем оверлей сверху */
    left: 0; /* И слева */
  }

.text-container {
    display: flex;
    min-width: 343px;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.text-and-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    flex: 1 0 0;
}

.directions-container {
    display: flex;
    justify-content: flex-start;
    display: flex;
    width: 1216px;
    align-items: center;
    align-content: center;
    gap: 56px;
    align-self: stretch;
    flex-wrap: wrap;
}

.directions {
    display: flex;
padding: 72px 112px 96px 112px;
flex-direction: column;
align-items: center;
gap: 64px;
align-self: stretch;
justify-content: center;
}

.Title {
    display: flex;
width: 1216px;
align-items: center;
gap: 10px;
}

h2 {
    color: #282828;
font-family: Inter;
font-size: 40px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -1.8px;
}

.item {
    display: flex;
    min-width: 300px;
max-width: 400px;
flex-direction: column;
justify-content: center;
align-items: flex-start;
gap: 20px;
flex: 1 0 0;
}

.icon-container {
    display: flex;
    padding: 6px;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    border-radius: 12px;
border: 1px solid #E5E5E5;
}

.icon {
    display: flex;
padding: 6px;
justify-content: center;
align-items: flex-start;
gap: 10px;
width: 40px;
height: 40px;
}

h3 {
    align-self: stretch;
    color: #000;
font-family: Inter;
font-size: 32px;
font-style: normal;
font-weight: 700;
line-height: normal;
letter-spacing: -1.44px;
margin: 0px;
}

p {
    align-self: stretch;
    color: #797878;
font-family: Inter;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
letter-spacing: -0.9px;
}

.button-outlined {
    display: flex;
justify-content: center;
align-items: center;
display: flex;
padding: 16px 0px;
justify-content: center;
align-items: center;
gap: 8px;
border-radius: 8px;
text-decoration: none;
}

.button-outlined:hover {
    transform: scale(1.01);
}

.button-text-direction {
color: #0F63E0;
text-align: center;
font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: 20px; 
text-decoration: none;
}

.button-img {
    width: 20px;
height: 20px;
}

.information {
    display: flex;
    padding: 32px 80px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 8px;
    align-self: stretch;
    justify-content:center;
}

.social-network {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    align-self: stretch;
    justify-content:center;
}

.social-img {
display: flex;
justify-content: center;
align-items: center;
gap: 24px;
}

.ds {
width: 20px;
height: 20px;
}

.my-git {
width: 20px;
height: 20px;
}

.social-text {
display: flex;
width: 1216px;
flex-direction: column;
color: var(--neutral-400, #5A6475);
text-align: center;
font-size: 14px;
font-family: Inter;
font-style: normal;
font-weight: 400;
line-height: 20px;
}

@media screen and (max-width: 768px) {
    .all {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }

    .navbar-container1 {
        flex-wrap: wrap;
        align-items: center;
    }

    .nav-links {
        flex-wrap: wrap;
        align-items: center;
    }
    
    .navbar {
        flex-wrap: wrap;
        align-items: center;
    }
  }